<h1>Listing comments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= comment.description %></td>

    
    <td><%= link_to 'Show', [comment.article, comment] %></td>
  
    <td><%= link_to 'Edit', edit_article_comment_path(comment.article, comment)%></td>
    
    <td><%= link_to 'Destroy', [comment.article, comment], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_article_comment_path %>